<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
         <link rel="stylesheet" href="/stylesheets/style.css">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            doctor login
        </title>
        <body>
            <header id="head">
        <div id="navbar">
            <a class="link"><b>patienttracker.in</b></a>
           <a class="link">Home</a>
           <a class="link">Doctors</a>
           <a class="link">Services</a>
           <a class="link">Contact</a>
           <a class="link">About</a>
           <a class="link">More</a>
          </div>
        <h1 id="about">About Us</h1>
    </header>
    <section id="sec2">
        <div id="mission">
         <h2 id="sec2hed">Mission And <b style="color: yellowgreen;">Values</b></h2>
         <p class="dec1">Our mission is to provide patient-centered healthcare with excellence in quality,service,and access.<br> A community in which all people achieve their full potential for health and well-being across the lifespan.<br>We work to be trusted by patients, a valued partner in the community, and creators of positive change.
      <br>We keep ourselves well educated so that we cab apply nwe devlopment in our fields. we use innovative<br> approaches to helathcare and customer services</p>
      <h4 class="fa-solid fa-circle-dot" style="color: #99d813;">Avalibility &#160</h4>
      <h4 class="fa-solid fa-circle-dot" style="color: #99d813;">Responsiveness</h4><br>
      <h4 class="fa-solid fa-circle-dot" style="color: #99d813;">Reliable&#160</h4>
      <h4 class="fa-solid fa-circle-dot" style="color: #99d813;">Provide data security</h4>
      <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Our Vision</h2>
     <p class="dec1" >We are passionate about improving the quality of patient care through the effective and innovative use of enabling technologies.</p> 
    <br><button id="button1" onclick="learn()"> Learn more</button>
        </div></section>
        <section id="sec4">
                <h2 id="sec3hed"> Our Team<b style="color: blue;"> Members</b></h2>
                <p id="team1"> Our organisation have top notch leading members that play crucial role to run this organisation smoothly.<br>
                They all are well qualified and experienced lead. These team lead also contributed in many crucial project across the world. </p>
                <div class="team_dtl"><div class="teamph"><img src="https://media.istockphoto.com/id/1298800629/photo/portrait-of-confident-male-doctor-looking-at-camera.jpg?s=2048x2048&w=is&k=20&c=nSjOQrrbcf6w00lZk7Owo5WfHdMu_WEGuZUh119U4jA=" class="team_ph">
            <p class="Senior"> Senior Consultant </p>
            <p class="profession" style="text-align: center;">Dr. Amit Goel</p>
            <p class="profession">MBBS From AIIMS Delhi</p>
                </div> </div>
                <div class="team_dtl"><div class="teamph"><img src="https://cdn.corporatefinanceinstitute.com/assets/ceo-vs-cfo.jpeg" class="team_ph">
                    
                    <p class="Senior" style="position: relative; left: 150px;"> CEO </p>
                    <p class="profession"style="text-align: center;">Antonie Martin</p>
                    <p class="profession" style="text-align: center;">MBA from stanford</p>
                        </div> </div>
                        <div class="team_dtl"><div class="teamph"><img src="https://media.istockphoto.com/id/1401557224/photo/confident-businesswoman-in-modern-office.jpg?s=612x612&w=0&k=20&c=_r6SmNYFG-x-2OFIjQA8hGu7e7QHBL0m6bR8RgsmMYY=" class="team_ph">
                            <p class="Senior" style="position: relative; left: 120px;">Director </p>
                            <p class="profession" style="text-align: center;">Priscilla</p>
                            <p class="profession" style="text-align: center;">Harvard University</p>
                       </div> </div>
        </section>
<section id="specialities"> <h2 class="spec1">Our Healthcare <b class="spec2">Specialties</b></h2>
    <div class="box"><img src="https://www.shutterstock.com/image-vector/heart-icon-flat-style-isolated-260nw-1085820593.jpg" class="box1">
    <b class="box2">Cardiology</b></div>
    <div class="box"><img src="https://img.freepik.com/premium-vector/lung-human-icon-respiratory-system-healthy-lungs-anatomy-flat-medical-organ-icon_599062-3800.jpg?w=2000" class="box1">
    <b class="box2">Pulmonology</b></div>
    <div class="box"><img src="https://www.shutterstock.com/image-vector/education-brain-icon-260nw-1116185921.jpg" class="box1">
        <b class="box2">Neurology</b></div>
        <div class="box"><img src="https://cdn3.vectorstock.com/i/1000x1000/28/37/fever-high-temperature-icon-covid19-sign-vector-34642837.jpg" class="box1">
            <b class="box2" style="position: relative; left: 30px;">Fever</b></div>
            <div class="box"><img src="https://cdn.pixabay.com/photo/2017/09/28/22/59/cancer-icon-2797418_1280.png" class="box1">
                <b class="box2">Oncology</b></div>
                <div class="box"><img src="https://cdn0.iconfinder.com/data/icons/medical-health-care-blue-series-set-1/64/a-22-1024.png" class="box1">
                    <b class="box2" style="position: relative; left: 15px;">Infection</b></div>
                    <div class="box"><img src="https://cdn3.vectorstock.com/i/1000x1000/94/22/hematology-icon-vector-15299422.jpg" class="box1">
                        <b class="box2">Hematology</b></div>
                        <div class="box"><img src="https://www.clipartkey.com/mpngs/m/130-1303632_pediatric-clinic-icon.png" class="box1">
                            <b class="box2">paediatrician</b></div>
                            <button id="button2">View all specialities</button>
</section>
      <section id="stateart">
          <h3 class="spec1" style="color: black;">State <b class="spec2">- Of- The- Art </b>Technology</h3>
          <div id="box2"></div>
          <div id="box3"></div>
          <img src="https://s3-eu-west-1.amazonaws.com/intercare-web-public/wysiwyg-uploads%2F1580196666465-doctor.jpg" id="photo3">
       
          <div class="div2"><img src="https://png.pngtree.com/png-vector/20190507/ourmid/pngtree-vector-car-icon-png-image_1024782.jpg" class="photo4"><h3 class="fast">Fast and Realiable</h3><strong class="detail">Our website provide quick doctor search 
             and making our website reliable for the users and provide fast accessibility.
          </strong></div>
          <div class="div2"><img src="https://media.istockphoto.com/id/1363270862/vector/24-7-service-24-7-open-concept-with-arrow-icon-support-service-24-hours-a-day-and-7-days-a.jpg?s=612x612&w=0&k=20&c=yzSS66i7iXU1zdVUhsO6bdYKDXcUmGn6c05w-ok-Row=" class="photo4"><h3 class="fast">Healthcare Anywhere Any Time</h3><strong class="detail">Our website provide 24x7 service to
            the users se that they can get benifitted from it.
         </strong></div>
         <div class="div2"><img src="https://png.pngtree.com/png-vector/20190507/ourmid/pngtree-vector-car-icon-png-image_1024782.jpg" class="photo4"><h3 class="fast">Experienced professionals</h3><strong class="detail"> we are providing top class Doctors and staff for our patients.Our Doctors are highly qualified having<br>
             experience of more than 10 years. </strong></div>
             <div class="div2"><img src="https://png.pngtree.com/png-vector/20190507/ourmid/pngtree-vector-car-icon-png-image_1024782.jpg" class="photo4"><h3 class="fast">Easy appointments</h3><strong class="detail">Our website provide ease in scheduling appointment
              user can fix their apponted with their favourable<br> doctors.Rescheduling of appointment can also be done
             </strong></div>
      </section>
      <section id="appoinment">
        <img src="https://i.pinimg.com/736x/1f/09/6b/1f096ba8f982f747b3dbfeb616d9b923.jpg" id="photoapp"> 
        <h3 id="eff">Efficient And Better<br> Care For You.</h3>
        <p id="press">Press this button to get quick appointment from the doctor.</p>
        <div id="app1">
            <table style="position: relative; left: 30px; top: 20px; width: 300px;">
            <tr>
            <th colspan="2" style="text-align: left";><b style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Our timings</b></th></tr>
            <tr><td>Monday</td><td>10:00 AM-6:00 PM</td></tr>
            <tr><td>Tuesday</td><td>10:00 AM-6:00 PM</td></tr>
            <tr><td>Wednesday</td><td>10:00 AM-6:00 PM</td></tr>
            <tr><td>Thursday</td><td>10:00 AM-6:00 PM</td></tr>
            <tr><td>Friday</td><td>10:00 AM-6:00 PM</td></tr>
            <tr><td>Saturday</td><td>10:00 AM-6:00 PM</td></tr>
            <tr><td>Sunday</td><td>Closed</td></tr>
        </table></div>
       <a href="/login" ><button id="buapp">Book Appointment</button></a>
    </section>
        <section id="streamline">
            <h3 style="color: beige; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;position: relative; left: 500px; font-size: 30px;">Streamlined Healthcare 
                <b style="color: #99d813;">Approach</b></h3>
                <div class="block"><div class="num"><b style="font-size: 30px; font-weight: 800;">1</b></div>
                <b style="position: relative;top: 130px; left: 10px;">Choose Medical Specialist</b></div><img src="https://cdn3.vectorstock.com/i/1000x1000/09/82/check-icon-vector-10850982.jpg" class="photo5">
                <div class="block"><div class="num"><b style="font-size: 30px; font-weight: 800;">2</b></div>
                <b style="position: relative;top: 130px; left: 5px;">Choose Consultation Service</b></div><img src="https://cdn3.vectorstock.com/i/1000x1000/09/82/check-icon-vector-10850982.jpg" class="photo5">
                <div class="block"><div class="num"><b style="font-size: 30px; font-weight: 800;">3</b></div>
                <b style="position: relative;top: 130px; left: 20px;"> Make An Appointment</b></div><img src="https://cdn3.vectorstock.com/i/1000x1000/09/82/check-icon-vector-10850982.jpg" class="photo5">
                <div class="block"><div class="num"><b style="font-size: 30px; font-weight: 800;">4</b></div>
                <b style="position: relative;top: 130px; left: 46px;">Get Diagnosed</b></div><img src="https://cdn3.vectorstock.com/i/1000x1000/09/82/check-icon-vector-10850982.jpg" class="photo5">
            </section>
            <section id="Committed"><h3 id="comm_ed">
                Commitment To <b style="color: #99d813;">Patient</b> Care</h3>
            <b  id="aim_our">Our aim is to provide best healthcare to our patient with modern heathcare 
                technologies and give</b><br><b  id="fill-fill">
                 our best best to fullfill
            the commitment that we made with patient.</b>
            <div class="care"><img src="https://thumbs.dreamstime.com/b/female-doctor-14719057.jpg" class="photo6">
            <img src="https://www.cedp-edu.com/wp-content/uploads/2020/10/ott.jpg" class="photo6">
               <img src="http://www.medicalenglish.biz/wp-content/uploads/2016/01/doctor-writing.jpg" class="photo6">
            <img src="https://media.sciencephoto.com/image/f0240824/800wm/F0240824-Medical_Testing.jpg" class="photo6"></div>
            <div class="testimonial"><button id="clk1" onclick="testimonial()">Click me>></button><div id="description"><p id="desc5"><b style="overflow: hidden; position: relative; top: 50px;">I can't say enough about my experience with this application and this staff. Over the years,
                I have gone for laser treatment for cancer cell of stage 1 and have had wonderful result every time with the doctor consulted by this application.
                Consulted Doctors has always been great about explaining proceduresvand has helped manage my exception in terms of results.
                Doctors are meticulous in his work and it shows.I love that Doctors are up to date on latest techniques and technology and is often involved in 
                innovations with the field.
                <p id="desc6"></p>
            </b></p> <img src="https://tse4.mm.bing.net/th?id=OIP.6Vpph9qjtAB358MbxzhpzgHaB-&pid=Api&P=0&h=180" class="photo7"></div><h3 id="pat_test">Patient <b style="color: #99d813;">Testimonial</b></h3>
            <img src="https://magikbox.us/wp-content/uploads/2021/05/US-size-Passport-Man.png" class="photo8"> <b id="samuel2">Samuel<br><b id="Art">Artist</b></b>
        </div><div id="last1">
        <b id="sub2"> Subscribe Newsletter</b>
        <br><br><input type="email" placeholder="Enter your email" id="email"><button id="button5">Subscribe</button></div>
         </section>
         <footer id="last">
              <br><br><h3 id="copy">Copyrights@2023<br>Patienttracker.Pvt.Ltd</h2>
         </footer>
         </body>
        <script src="/javascripts/doctorlogin.js"></script> 
    </head>
</html>