<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/ptracker.css">
</head>
<body>
    <header id="menu">
     <ul>
        <li id="logo"><strong>Patienttracker.com</strong></li>
        <li><a>Home</a></li>
        <li>contact</li>
        <li>Services</li>       <div id="register"></div>
        <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/95/Digital_India_logo.svg/1200px-Digital_India_logo.svg.png" id="digiindia"></li>
     </ul></header>
     <section id="logo2">
         <h1 id="takecre"><strong style="font-size: 32px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: cornflowerblue;"> We Take Care of </strong> <br><b style="color: brown; font-size: 25px;">Your health</b></h1>
       <img src="https://img.freepik.com/free-photo/young-doctor-supporting-his-patient_1098-2237.jpg" id="doc1">
       <div id="speclity">
       <div class="register"><a href="/patientlogin"><button class="btn">Click Here</button></a><b class="intro">Register as a Patient</b><div class="imgicon"><img src="https://cdn-icons-png.flaticon.com/512/1533/1533506.png" class="paticon"></div>
       </div>
       <div class="register"><button class="btn">Click Here</button> <b class="intro">Register as a Doctor</b><div class="imgicon"><img src="https://cdn-icons-png.flaticon.com/512/9193/9193824.png" class="paticon"></div>
       </div>
       <div class="register"><button class="btn">Click Here</button> <b class="intro">Register as an Admin</b><div class="imgicon"><img src="https://static.vecteezy.com/system/resources/previews/008/980/643/original/admin-roles-circle-background-icon-vector.jpg" class="paticon"></div>
       </div>
        </section>
        <section id="sec2">
                <div id="container1">
                    <div id="circular-progress1">
                        <span id="progress-value1">0%</span>
                    </div>
                    <strong class="statptreg">Patient Registered<br><b style="position: relative; left: 30px;">Globally<b></b></strong>
                </div>
                <div id="container2" >
                    <div id="circular-progress2">
                        <span id="progress-value2">0%</span>
                    </div>
                    <strong class="statptreg">Patient Treated<br><b style="position: relative; left: 45px;">Globally<b></b></strong>
                </div>
                <div id="container3">
                    <div id="circular-progress3">
                        <span id="progress-value3">0%</span>
                    </div>
                    <strong class="statptreg">Our Branch across<br><b style="position: relative; left: 45px;">India<b></b></strong>
                </div>
        </section>
        <section id="sec3"><div id="video"><h3 id="Approved">Approved By</h3> <h3 id="init">Initiated by</h3><img src="https://img.onmanorama.com/content/dam/mm/en/news/india/2023/images/2023/8/17/digital-india-2.jpg" id="digiin"><img src="https://qph.cf2.quoracdn.net/main-qimg-952c4dba0ba2002462c78f24719b5aaf.webp" id="makeiind"><img src="https://d3lzcn6mbbadaf.cloudfront.net/media/details/ANI-20230302123631.jpg" id="mohealth"><img src="https://media.licdn.com/dms/image/C510BAQE6C4JErTAqmQ/company-logo_200_200/0/1630599618877?e=2147483647&v=beta&t=cc7hXQmTKtuV3KPALBk8We2hNzHsZ0Id02JOJZYA1QU" id="who"><video src="/images/new.mp4" controls id="video2" ></video></div></section>

        <script src="/javascripts/statics.js"></script>
        <footer id="footer"><strong id="Copyright"> All Right Reserved <br>Copyright 2024</strong></footer>
</body>
</html>