*{
    margin: 0px 0px 0px 0px;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
#menu{
    height: 40px;
    background-color:#693D31;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    margin-left: 252px;
    color:#EDF4ED;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}
#logo{
    margin-left: 10px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
li:hover{
    color:#693D31;
}
#digiindia{
    background-color: azure;
    height: 40px;
    width: 130px;
}
#logo2{
    height: 500px;
   /* background-color: #693D31; */
   position: relative;
   bottom: 75px;
}
#takecre{
    position: relative;
    top:320px;
    left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#doc1{
    width: 1550px;
    height: 500px;
}
#speclity{
    height: 300px;
    position: sticky;
    background-color: #71544c;
    width: 1200px;
    margin-left: 160px;
   bottom: 10px;
    border-radius: 10px;
}
.register{
    width: 280px;
    height:300px;
    background-color: #4D65A2;
    margin-left:90px;
    border-radius: 10px; 
    display: inline-block;
}
.register:hover{
    transform: rotateX(45deg);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-property: initial;
    transition-delay: 1ms;
    transform-style: preserve-3d;
}
.imgicon{
    height: 180px;
    width: 280px; 
}
.paticon{
    height: 180px;
    width: 200px;
   margin-left: 32px;
   position: relative;
   bottom: 35px;
   border-radius: 50%;
}
.imgicon:hover{
   animation-name: img;
   animation-duration: 1.5s;
   animation-timing-function: ease-out;
   animation-delay: 1ms;
animation-iteration-count: 1;
transform: translateY(-65px);
}
@keyframes img{
    0%{transform: scaleX(1);} 35% {transform: scaleX(1.3);}
}
.intro{
    position: relative;
    top:180px;
  right: 45px;
   font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color:#8B3511;
}
.btn{
    position: sticky;
position: relative;
top: 235px;
left:75px;
height: 35px;
width: 100px;
border-radius: 20px;
font-size: 18px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#sec2{
    height: 720px;
    background-color:#2C4B98;
    position: relative;
    top: 120px;
    z-index: -1;
}

#container1{
    border-radius: 8px;
    width: 300px;
    padding: 30px 0px;
    background-color:#5684B2 ;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 240px;
    left: 120px;
    border-radius: 50% 50% 10% 10%;
    margin-left: 80px;
}
#circular-progress1{
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #2C4B98;
    border-radius: 50%;
    background: conic-gradient(#2C4B98 3.6deg, white 0deg);
    left: 50px;
}
#circular-progress1::before{
    content:"" ;
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: brown;
    top: 35px;
    left: 35px;
}
#progress-value1{
    position: relative;
    font-size: 35px;
    font-weight: 600;
    color:aquamarine;
    top: 80px;
    left: 58px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.statptreg{
    font-size: 25px;
    font-family: monospace;
    font-weight: 700;
    color: greenyellow;
    position: relative;
    left: 40px;
}
#container2{
    border-radius: 8px;
    width: 300px;
    padding: 30px 0px;
    background-color:#5684B2 ;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 240px;
    left: 120px;
    border-radius: 50% 50% 10% 10%;
    margin-left: 80px;
}
#circular-progress2{
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #2C4B98;
    border-radius: 50%;
    background: conic-gradient(#2C4B98 3.6deg, white 0deg);
    left: 50px;
}
#circular-progress2::before{
    content:"" ;
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: brown;
    top: 35px;
    left: 35px;
}
#progress-value2{
    position: relative;
    font-size: 35px;
    font-weight: 600;
    color:aquamarine;
    top: 80px;
    left: 58px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#container3{
    border-radius: 8px;
    width: 300px;
    padding: 30px 0px;
    background-color:#5684B2 ;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 240px;
    left: 120px;
    border-radius: 50% 50% 10% 10%;
    margin-left: 80px;
}
#circular-progress3{
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #2C4B98;
    border-radius: 50%;
    background: conic-gradient(#2C4B98 3.6deg, white 0deg);
    left: 50px;
}
#circular-progress3::before{
    content:"" ;
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: brown;
    top: 35px;
    left: 35px;
}
#progress-value3{
    position: relative;
    font-size: 35px;
    font-weight: 600;
    color:aquamarine;
    top: 80px;
    left: 65px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#sec3{
    overflow: hidden;
}
#video{
    height: 320px;
    position: sticky;
    background-color: #71544c;
    width: 1200px;
    margin-left: 50px;
    border-radius: 10px;
}
#video2{
    height: 290px;
    position: relative;
    bottom: 170px;
    left: 30px;
  border-radius: 80%;
  border: 10px solid goldenrod;
  border-bottom: 15px solid blueviolet;
  border-top: 15px solid blueviolet;
}
#Approved{
    position: relative;
    left: 930px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: cornsilk;
    font-size: 25px;
}
#mohealth{
    position: relative;
    height: 100px;
    width: 300px;
    left: 260px;
    border: 5px solid silver;
    border-radius: 20px;
}
#who{
    position: relative;
    height: 100px;
    width: 300px;
    bottom: 200px;
    left: 880px;
    border: 5px solid silver;
    border-radius: 20px;
}
#init{
    position: relative;
    left: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: cornsilk;
    font-size: 25px;
    bottom: 20px;
}
#digiin{
    position: relative;
    height: 100px;
    width: 300px;
    left: 20px;
    border: 5px solid silver;
    border-radius: 20px;
}
#makeiind{
    position: relative;
    height: 100px;
    width: 300px;
   right: 290px;
    top: 130px;
    border: 5px solid silver;
    border-radius: 20px;
}
#footer{
    position: relative;
    top: 50px;
    background-color: brown;
    opacity: 0.9;
    right: 118px;
}
#Copyright{
    position: relative;
    left: 660px;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: azure;
}
.btn:hover{
 animation-name: btn;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-delay: 2ms;
 animation-iteration-count: infinite;
}
@keyframes btn{
    0%{background-color: #4D65A2;} 100% {background-color: orangered;}
}
@media(max-width:360px){
    li{
        margin-left: 18px;
        color:#EDF4ED;
        font-size: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: relative;
        right: 20px;
    }
    #logo{
        color: aliceblue;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 10px;
        position: relative;
        right: 40px;
    }
    #digiindia{
        background-color: azure;
        height: 40px;
        width: 73px;
    }
    #takecre{
        position: relative;
        top:120px;
        left: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
    }
    #speclity{
        height: 200px;
        position: sticky;
        background-color: #71544c;
        width: 120px;
        margin-left: 18px;
       bottom: 200px;
        border-radius: 10px;
    }
    .register{
        width: 280px;
        height:300px;
        background-color: #4D65A2;
        margin-left:20px;
        border-radius: 10px; 
        display: inline-block;
        margin-top: 40px;
    }
    #sec2{
        height: 1220px;
        background-color:#2C4B98;
        position: relative;
        top: 100px;
        z-index: -1;
    }
    #container1{
        border-radius: 8px;
        width: 160px;
        padding: 30px 0px;
        background-color:#5684B2 ;
        display: inline-block;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 750px;
       left: -10px;
        border-radius: 50% 50% 10% 10%;
        margin-left: 10px;
    }
    #circular-progress1{
        position: relative;
        height: 100px;
        width: 100px;
        background-color: #2C4B98;
        border-radius: 50%;
        background: conic-gradient(#2C4B98 3.6deg, white 0deg);
        left: 30px;
    }
    #circular-progress1::before{
        content:"" ;
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: brown;
        top: 25px;
        left: 25px;
    }
    #progress-value1{
        position: relative;
        font-size: 20px;
        font-weight: 600;
        color:aquamarine;
        top: 100px;
        left: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .statptreg{
        font-size: 15px;
        font-family: monospace;
        font-weight: 700;
        color: greenyellow;
        position: relative;
        left: 10px;
        top: 25px;
    }
    #container2{
        border-radius: 8px;
        width: 160px;
        padding: 30px 0px;
        background-color:#5684B2 ;
        display: inline-block;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 750px;
       left: -10px;
        border-radius: 50% 50% 10% 10%;
        margin-left: 10px;
    }
    #circular-progress2{
        position: relative;
        height: 100px;
        width: 100px;
        background-color: #2C4B98;
        border-radius: 50%;
        background: conic-gradient(#2C4B98 3.6deg, white 0deg);
        left: 30px;
    }
    #circular-progress2::before{
        content:"" ;
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: brown;
        top: 25px;
        left: 25px;
    }
    #progress-value2{
        position: relative;
        font-size: 20px;
        font-weight: 600;
        color:aquamarine;
        top: 100px;
        left: 38px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #container3{
        border-radius: 8px;
        width: 160px;
        padding: 30px 0px;
        background-color:#5684B2 ;
        display: inline-block;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 750px;
       left: -10px;
        border-radius: 50% 50% 10% 10%;
        margin-left: 10px;
        margin-top: 20px;
    }
    #circular-progress3{
        position: relative;
        height: 100px;
        width: 100px;
        background-color: #2C4B98;
        border-radius: 50%;
        background: conic-gradient(#2C4B98 3.6deg, white 0deg);
        left: 30px;
    }
    #circular-progress3::before{
        content:"" ;
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: brown;
        top: 25px;
        left: 25px;
    }
    #progress-value3{
        position: relative;
        font-size: 20px;
        font-weight: 600;
        color:aquamarine;
        top: 100px;
        left: 38px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #video{
        height: 320px;
        position: relative;
        background-color: #71544c;
        width: 200px;
        margin-left: -10px;
        border-radius: 10px;
      top: 100px;
    }
    #Approved{
        visibility: hidden;
    }
    #video2{
        display: hidden;
    }
    #digiin{
        position: relative;
        height: 50px;
        width: 180px;
        left: 10px;
        border: 5px solid silver;
        border-radius: 20px;
    }
    #makeiind{
        position: relative;
        height: 50px;
        width: 180px;
       right: -5px;
        top: 15px;
        border: 5px solid silver;
        border-radius: 20px;
    }
    #init{
        position: relative;
        left: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: cornsilk;
        font-size: 25px;
        bottom: 20px;
    }
    #mohealth{
      visibility: hidden;
    }
    #who{
     visibility: hidden;
    }
    #footer{
        position: relative;
        top: 50px;
        background-color: brown;
        opacity: 0.9;
        right: 120px;
    }
    #Copyright{
        position: relative;
        left: 90px;
        font-size: 25px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: azure;
    }
    #sec3{
        overflow: hidden;
    }
    #doc1{
        width: 400px;
        height: 300px;
    }
}
